/* @media screen and (max-width: 650px) {
	#box {
		width: 500px !important;
	}
	.input_align {
		width: 300px !important;
	}
	#label_search {
		width: 240px !important;
	}
	.all_label {
		width: 100px !important;
	}
}

@media screen and (max-width: 500px) {
	#box {
		width: 400px !important;
	}
	.input_align {
		width: 250px !important;
	}
	#label_search {
		width: 193px !important;
	}
	.all_label {
		width: 90px !important;
	}
	textarea {
		width: 250px !important;
	}
}
 */


#title_name {
	margin-top: 60px;
	margin-bottom: 40px;
	text-align: center;
}

#box {
	border: none;
	/* background-color: white; */
	width: 600px;
	margin: 0 auto;
	padding-bottom: 50px;
	margin-bottom: 50px;
}

#box_body {
	margin-top: 40px;
	height: 100%;
	width: 100%;
}

#formItemAdd input {
	height: 30px;
	font-size: 15px;
	padding: 5px;
	margin: 10px;
}

#formItemAdd textarea {
	width: 320px;
	font-size: 15px;
	padding: 5px;
	margin: 10px 10px 0 10px;
	border: none;
}

#btnItemPhoto {
	margin-left: 10px;
	font-size: 13px !important;
}

#btnItemLocation {
	font-size: 13px !important;
}

#box_end {
	margin-top: 50px;
	display: block;
	text-align: center;
	clear: both;
	padding: auto;
	width: 100%;
}

.input_align {
	border: none;
	width: 320px;
}

.all_label {
	width: 150px;
	padding-right: 10px;
	display: inline-block;
	text-align: right;
}

.kk {
	margin-left: 100px;
}

#label_search {
	border: none;
	margin-left: 10px;
	width: 240px;
}

.input_datepic {
	border: none;
	margin-bottom: 5px;
	margin-left: 10px;
	font-size: 15px;
	width: 110px;
}

/* #date_label {
	width: 63px;
	text-align: right;
} */

/* #b {
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}
 */
.filebox input[type="file"] {
	/* 파일 필드 숨기기 */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
/* 업로드될 파일 목록 */
#uploadResult {
	margin: 10px 100px;
	margin-right: 0px;
}

.test {
	display: inline-block;
}

#uploadResult img {
	width: 100px;
}

#fileCheck li {
	float: left;
	list-style: none;
}

.xBtn {
	position: absolute;
	width: 30px;
	height: 30px;
}

.red {
	color: red;
}

.mar {
	color: red;
	font-size: 13px;
	margin-left: 170px;
}
@media screen and (max-width: 768px) {
	#box {
		width: 350px !important;
	}
	#formItemAdd input {
		font-size: 13px !important;
	}
	.input_align {
		width: 220px !important;
	}
	.input_datepic {
		width: 220px !important;
	}
	#label_search {
		width: 146px !important;
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
	.all_label {
		width: 70px !important;
		font-size: 12px;
		padding-right: 0px !important;
		text-align: right;
		display: inline-block;
		margin-right: 0;
	}
	textarea {
		width: 220px !important;
		height: 100px !important;
	}
	#box_end a,#box_end button {
		margin: 0 10%;
	}
	.mar {
		color: red;
		font-size: 11px;
		margin-left: 90px;
	}
}