* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:NanumSquare;
	font-weight:bold;
	
}

body, html {
	width: 100vw;
	overflow-x: hidden;
}

@font-face {
	font-family: Proxima_Bold;
	src: url("/resources/font/Proxima Nova Alt Bold.otf");
}
@font-face{
    font-family:Proxima_Bold;
    src:url("/resources/font/Proxima Nova Alt Bold.otf");
}

@font-face{
    font-family:Proxima_ExtraBold;
    src:url("/resources/font/Proxima Nova Extrabold.otf");
}

@font-face{
    font-family:NanumSquare;        
    src:url("/resources/font/NanumSquare_acR.ttf");
}
@font-face{
    font-family:NanumGothic;        
    src:url("/resources/font/NanumGothic.ttf");
}
/* body{
	padding: auto;
} */
#bgAirMain {
	position: fixed;
	left: 0;
	width: 100vw;
	/* 	min-width: 100vw; */
	min-height: 100vh;
	z-index: -1;
}

.bg_color_white {
	background-color: rgba(255, 255, 255, 0.9);
}

#sectionHeader {
	position: relative;
	display: block;
	top: 0;
	width: 100vw;
}

#sectionSearchBar {
	position: relative;
	display: block;
	top: 0;
	width: 100vw;
}

#sectionFooter {
	position: relative;
	display: block;
	top: 0;
	width: 100vw;
}

#wrapLogo {
	position: relative;
	padding: 25px 0 50px 0;
}

#logoAir {
	position: relative;
	width: 180px;
	outline: none;
}

#gnbAirTopright {
	position: relative;
	top: 0;
	right: 0;
	padding: 8px 12px 0 0;
	text-align: center;
}

#gnbAirToprightMobile {
	display: none;
}

#gnbAirTopright a {
	text-decoration-line: none;
	padding: 0 8px;
	color: #000;
	font-size: 0.9vw;
	font-family: 'Oswald', sans-serif;
	cursur: pointer;
}

#gnbAirTopright a:hover {
	text-decoration-line: none;
	cursur: pointer;
	color: #929E68;
}

#gnbAirTopright a.on {
	color: #929E68;
}

#gnbAir {
	position: relative;
	bottom: 0;
	padding: 0 0 15px 0;
	text-align: center;
}

.gnb_air_menu {
	position: relative;
	font-size: 1.1vw;
	padding: 0 2.5vw;
	text-decoration-line: none;
	cursor: pointer;
	color: #000;
	font-family: 'Oswald', sans-serif;
}

.gnb_air_menu:hover {
	text-decoration-line: none;
	color: #929E68;
}

.gnb_air_menu.on {
	color: #929E68;
}

#iconMenu {
	display: none;
}

#sectionBody {
	position: relative;
	margin: auto;
	top: 0;
	width: 100vw;
	font-family: Proxima_Bold;
}

#wrapBody {
	min-height: 80vh;
}

#messageSignout {
	display: none;
}
/*버튼관련 button  */
.btn_air {
	cursor: pointer;
	border: none;
	border-radius: 0 !important;
	color: #fff;
	font-size: 16px;
	text-align: center;
	background-color: #929E68 !important;

	/* background-color:RGB(132,154,65) */
	/* color:#000 !important; */
}

.btn_air_white {
	cursor: pointer;
	border: none;
	border-radius: 0 !important;
	color: #929E68;
	font-size: 16px;
	text-align: center;
	background-color: #fff !important;
}
.btn_air_red{
	cursor: pointer;
	border: none;
	border-radius: 0 !important;
	color: #fff;
	font-size: 16px;
	text-align: center;
	
	background-color: #FF5347 !important;
}
/*색깔 color관련*/
.color_bg_green {
	background-color: #929E68 !important;
	color: white;
}

.color_txt_green {
	color: #929E68;
}

.color_air_green {
	background-color: #0A955C;
}
.color_bg_red{
	background-color:#FF5347;
}

@media only screen and (max-width: 600px) {
	.container-fluid {
		padding: 0;
	}
	/* .container {
		width: 100vw;
	} */
	#bgAirMain {
		position: fixed;
		left: 0;
		height: 100vh;
		width: auto;
		min-width: 100vw;
		z-index: -1;
	}
	#wrapLogo {
		position: relative;
		padding: 8px;
	}
	#logoAir {
		width: 50px;
		margin: 0 !important;
		position: relative;
	}
	#gnbAirTopright {
		display: none;
	}
	#gnbAirToprightMobile {
		display: inline-block;
		font-size: 5.5vw;
		padding-right: 5vw;
	}
	#gnbAir {
		position: fixed;
		top: 0vh;
		padding: 25vw 0 0 0;
		text-align: right;
		width: 70vw;
		left: 100vw;
		height: 100vh;
		transition: 0.2s linear;
		z-index: 9;
	}
	#gnbAir.on {
		top: 0;
		left: 30vw;
	}
	#iconMenu {
		font-size: 10vw;
		display: block;
		position: fixed;
		top: 15px;
		right: 6vw;
		z-index: 10;
	}
	.gnb_air_menu {
		display: block;
		position: relative;
		font-size: 7.5vw;
		padding-right: 6vw;
		height: 20vw;
		/* width: 60vw;
	left: 40vw; */
	}
	#gnbAirToprightMobile .gnb_air_menu {
		display: inline-block;
		font-size: 5.5vw;
		magin: 0;
		padding: 0 1vw 0 1vw;
		height: 15vw;
		/* color: #FF5347; */
		/* color:RGB(104, 175, 212); */
		color: #929E68;
		/* gray; */
	}
	.bg_color_white {
		background-color: rgba(255, 255, 255, 0.9);
	}
	#gnbAir.bg_color_white {
		background-color: rgb(255, 255, 245);
	}

	/* 모달  */
	.modal-footer .btn {
		font-size: 13px !important;
	}
}